#dog_img, #cat_img, #lion_img, #cow_img{
    visibility: hidden;
}

body{
    background-color: blue;
    font-family: 'Roboto', sans-serif;
}

.header_div{
    color: red;
    background-color: white;
}

.header_div p{
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Noto Serif', serif;
    letter-spacing: 3px;
    font-weight: bolder;
    margin-top: 30px;
    width: 100px;
    background-color: #3df230;
    color: red
}

.footer_div{
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    font-size: 22px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(125, 107, 107);
}
